art
Pyarrow
requests
pyproject-toml
aiohttp
async-timeout
attrs
certifi
chardet
charset-normalizer
colorama
dateparser
idna
multidict
python-binance
python-dateutil
pytz
PyYAML
regex
requests
six
tradingview-ta
tzlocal
ujson
urllib3
websockets
yarl
numpy
prettytable
pandas-ta
kaleido
plotly
ccxt
TA-Lib
dash
matplotlib
scipy
bokeh